fieldset{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    }
form{
    display: flex;
    justify-content: center;
    margin: 3%;

}
.forAll{
    padding: 4% 0 4% 0;
    margin: 4% 0 4% 0;
    color: dodgerblue;
    font-size: large;
    display: flex;
    width: 100%;
    justify-content:space-between ;
}
legend{
    font-size: x-large;
    color: dodgerblue;
}
#btn{
    padding: 20% 100% 20% 100%;
    margin: 10%;
    background-color: orangered;
    font-size: large;
    color: white;
    border-radius: 10px;
}
#buttn{
    display: flex;
    justify-content: center;
}
#anchor{
    text-decoration: none;
}